<template>
  <div class="footer">
    <h2>Teams Footer</h2>
  </div>
</template>

<style scoped>
h2 {
  text-align: center;
}

.footer {
  background-color: grey;
  min-height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
</style>
