<template>
  <section>
    <h2>{{ teamName }}</h2>
    <ul>
      <user-item
        v-for="member in members"
        :key="member.id"
        :name="member.fullName"
        :role="member.role"
      ></user-item>
    </ul>
    <!--<router-link to="/teams/t2">Go To Team 2</router-link> -->
  </section>
</template>

<script>
import UserItem from '../users/UserItem.vue';

export default {
  inject: ['users', 'teams'],
  props: ['teamId'],
  components: {
    UserItem
  },
  data() {
    return {
      teamName: '',
      members: []
    };
  },
  methods: {
    loadTeamMembers(teamId) {
      const selectedTeam = this.teams.find(team => team.id === teamId);
      const members = selectedTeam.members;
      const selectedMembers = [];
      for (const member of members) {
        const selectedUser = this.users.find(user => user.id === member);
        selectedMembers.push(selectedUser);
      }
      this.members = selectedMembers;
      this.teamName = selectedTeam.name;
    }
  },
  // this is generally useful guard for components that are used by the router
  // and that are reusable by updating the route like the TeamMembers here.
  // This component is re-used for every team member that is being called by updating
  // which member through the router. Ofc, we already have logic for the example below
  // and we are changing the route through the watch method, but we can also do it like
  // below where we had to comment it out, to avoid duplicate logic.
  // It's however better to use it with the watch whenever teamId changes, because it adds more flexibility
  // and we are loading it through props instead of loading it through params, which indicates
  // that it's updateable only if we are calling this through router, so it cuts some flexibility of that re-usability of the component.
  beforeRouteUpdate(to, from, next) {
    console.log('TeamMembers Cmp beforeRouteUpdate');
    console.log(to, from);
    // this.loadTeamMembers(to.params.teamId);
    next();
  },
  created() {
    this.loadTeamMembers(this.teamId);
    /* console.log(this.$route.query); */
  },
  watch: {
    teamId(newId) {
      this.loadTeamMembers(newId);
    }
  }
};
</script>

<style scoped>
section {
  margin: 2rem auto;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  border-radius: 12px;
}

h2 {
  margin: 0.5rem 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
</style>
