<template>
  <!-- <button @click="confirmInput">Confirm</button> -->
  <div class="save-changes">
    <button @click="saveChanges">Save Changes (Example Button)</button>
  </div>
  <ul>
    <user-item
      v-for="user in users"
      :key="user.id"
      :name="user.fullName"
      :role="user.role"
    ></user-item>
  </ul>
</template>

<script>
import UserItem from '@/components/users/UserItem.vue';

export default {
  data() {
    return {
      changesSaved: false
    };
  },
  components: {
    UserItem
  },
  inject: ['users'],
  methods: {
    saveChanges() {
      this.changesSaved = true;
      console.log('changesSaved = ' + this.changesSaved);
    },
    confirmInput() {
      // do something
      this.$router.push('/teams');
    }
  },
  //this lifecycle method is called upon if we use router in our project
  //and before navigation to this component is confirmed.. the same as defining
  //beforeEnter in the router configuration file.
  //The router configuration executes before this according to console.log tho.
  //The priority order is Global > Route Level > Component level
  beforeRouteEnter(to, from, next) {
    console.log('UsersList Cmp beforeRouteEnter');
    console.log(to, from);
    next();
  },
  unmounted() {
    console.log('unmounted');
  },
  beforeRouteLeave(to, from, next) {
    console.log(to, from);
    if (this.changesSaved) {
      next();
    } else {
      const userWantsToLeave = confirm(
        // confirm dialog is like alert, but it returns true or false dependable if user clicks cancel or ok that we can save it in a constant to use in next later to confirm or decline the navigation
        'Are you sure? You have unsaved changes!'
      );
      next(userWantsToLeave);
    }
  }
};
</script>

<style scoped>
.save-changes {
  text-align: center;
  margin-top: 25px;
}
ul {
  list-style: none;
  margin: 2rem auto;
  max-width: 20rem;
  padding: 0;
}
</style>
